


	
			<table class="table table-bordered ">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Preço</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
						
					<% @camisas_por_nome.each do |camisa| %>
						<tr>
							<td><%= camisa.nome %></td>
							<td><%= camisa.descricao %></td>
							<td><%= camisa.quantidade %></td>
							<td><%= camisa.preco %></td>
							<td><a href="/camisas/<%= camisa.id %>/remove">Remover</a></td>
							
						</tr>
					<% end %>
				</tbody>
			</table>	
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Preço</th>
						<th>Quantidade</th>
					</tr>
				</thead>	
				<tbody>
						
					<% @camisas_por_preco.each do |camisa| %>
						<tr>
							<td><%= camisa.nome %></td>
							<td><%= camisa.descricao %></td>
							<td><%= camisa.quantidade %></td>
							<td><%= camisa.preco %></td>
							
						</tr>
					<% end %>
				</tbody>
	
		</table>
	


